body{
    
    align-items:center
}
    /* form{
    text-align: center;
}  */

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    background-color: #000;
}

.copyright{
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}
header{
    background: #bbb;
    padding: 20px;

}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
