body{
    margin: 0px;
    padding: 0px;
}
#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;text-align: center;
    color: rgb(37, 88, 3);
    background-color: blueviolet;
    padding: 30px;
    max-width: 0px;
}