body{
    margin: 0px;
    padding: 0px;
}
#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;text-align: center;
    color: rgb(37, 88, 3);
    background-color: blueviolet;
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: blue;
    font-family: monospace;
}
.principal{
padding: 30px;
    background-color: darkmagenta
}



.beneficios {
    background-color: darkblue;
    padding: 30px;
    margin: 0px;
}
ul{
   display: inline-block;
   vertical-align: top; 
   width: 20%;
   margin-right: 15%;
   font-size: 22px;
   line-height: 1.5;
}

.itens{
    font-style: italic;
}
 .imagembeneficios{
    width: 50%;
 }

 footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
    background-color: #000;
}

.copyright{
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}